.list__main {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	max-height: 80vh;
	overflow: auto;
}

.list__item {
	display: flex;
	justify-content: space-between;
	background-color: white;
	align-items: center;
	align-self: center;
	padding: 5px 40px;
	box-sizing: border-box;
	width: 100%;
}

.list__item-btn {
	padding: 5px;
	border: none;
	font-size: 2rem;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		background-color: blanchedalmond;
	}
}
